@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    height: 80vh;
    width: 70%;
    border-radius: 15px;
    box-shadow: 1px 1px 7px black;
}
.add{
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    padding-left: 7px;
}
.add:focus{
    outline: none;
}
.tasks{
    font-family: "Anta", sans-serif;
    position: absolute;
    top: 20%;
    left: 21%;
    width: 250px;
    height: 20px;
    padding: 10px;
}
.task{
    background-color: rebeccapurple;
}